.main-header{
    background: url(../img/background.jpg);
    background-size: cover;
    min-height: 600px;
    background-position: center;
    color: #ffffff;
}
.main-header-inner{
    background: url(../img/background.jpg);
    background-size: cover;
    min-height: 350px;
    background-position: center;
    color: #ffffff;
}

.main-header-inner .showcase {
    padding-top: 50px;
}

 .active-link{
    color: #d847f1;
    font-weight: bold;
}

.main-header .active-link{
    color: #d847f1;
    font-weight: bold;
}

.main-header .showcase {
    padding-top: 100px;
}

.tabs .indicator {
    background: rgba(112, 81, 176, 0.9);
}

.section-developers {
    position: relative;
    background: url(../img/code.jpg);
    background-size: cover;
    background-position: center;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
    min-height: 180px;
}

.primary-overlay {
    background: rgba(112, 81, 176, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.section-podcast {
    position: relative;
    background: url(../img/circuit.jpg);
    background-size: cover;
    background-position: center;
    min-height: 160px;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
}

.section-podcast a {
    margin-top: 30px;
}

.section-podcast .primary-overlay {
    background: rgba(112, 81, 176, 0.9);
}

.carousel-item p {
    font-size: 20px !important;
}

.btn-extend {
    display: block;
    width: 100%;
}

@media (max-width: 500px) {
    .section-developers,
    .section-podcast {
        min-height: 240px;
    }
}